.color1 {
    color: turquoise;
    color: darkcyan;
}


body {
    overflow: visible;
    display: flex;
    flex-flow: row wrap;
    flex-flow: column nowrap;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: hidden;

    flex-flow: nowrap;

    white-space: nowrap;
    white-space: normal;
    display: inline;
    display: inline-block;
    display: none;

    text-align: right;
    display: inline-block;

    border-bottom: 1 solid #151515;
    border-style: dotted;
    border-style: calc(1px);
    border-radius: 5px;
}

button:hover {
    background-color: 1;
}

button {
    color: #BFBFBF;
    background-color: #404040;
    border: 1px solid #606060;
    border-radius: 3px;
    border-collapse: collapse;
}
button:hover {
    background-color: #202020;
}
button:active {
    background-color: #151515;
    transform: translateY(0.1em);
}

/* 颜色标签
<wht></wht> 白色
<hiw></hiw>
<hig></hig> 绿
<hic></hic> 蓝
<hiy></hiy> 黄
<hiz></hiz> 紫
<hio></hio> 橙
<hir></hir> 红

<him></him> 亮紫色 谣言
<hik></hik> 灰色
<opt></opt> 阴影
<mag></mag> 暗紫色 分解装备
*/

/*  橙色药方 玄灵丹   天仙藤,人参,巨骨舌鱼,盘龙参,人参,灵芝,人参,凌霄花,银龙鱼
*/


/*
- 武当
    心法100 剑法100 =>




*/