.windows {
    display: flex;
    flex-flow: row wrap;
}

.window {
    flex: 0 0 320px;
    width: 320px;
    height: 700px;
    transform: scale(0.98);
}

.warning {
    font-size: 12px;
    color: crimson;
}